<%- include ("partials/header") %>

<div class="container">
     <header class="jumbotron text-center">
         <div class="container">
             <h1>LocalAthlete</h1>
             <p>Find a local sporting event near you!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/events/">Enter!</a>
             </p>
         </div>
     </header>
</div>

<%- include ("partials/footer") %>
