.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

body {background-color: #00B2EE	;}

.jumbotron {
	
	background-image: url('header.jpg');
	color: white; 

}


#delete-form {
	display: inline;
}